 <div class="projects">
 {{#projects}}
        
        <div>
                <a href=".{{ directory }}"><img src=".{{ directory }}/screenshot.jpg" alt="{{ title }}"></a>
                <p><a href=".{{ directory }}"> {{ title }} </a></p>
         </div>

    {{/projects}}
</div>